<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="menu">
      <p>
        <i><h2>Hola <%= name %></h2></i>
        <a href="/user/prods">Ver productos</a>
        <a href="/logout">Cerrar sesión</a>
      </p>
    </div>
  </body>
</html>
